/* Set up */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variables CSS */
:root {
    --hue-color: 225;

    --first-color: hsl(var(--hue-color), 48%, 35%);
    --title-color: hsl(var(--hue-color), 48%, 22%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --body-color: #dfe9f5;
    --container-color: #fff;

    --body-font: 'Be Vietnam Pro', sans-serif;

    --large-font-size: 1.236rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 968px) {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--body-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.sec {
    padding: 100px 50px 50px 50px;
}

/* Navbar */
.navbar_header {
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 100px;
z-index: 1000;
transition: 0.6s;
}

.navbar_header.sticky {
padding: 5px 100px;
background: #fff;
border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.navbar_header .logo {
position: relative;
font-weight: 700;
color: rgb(85, 83, 83);
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.6s;
}

.navbar_header ul {
position: relative;
display: flex;
justify-self: center;
align-items: center;
}

.navbar_header ul li {
position: relative;
list-style: none;
}

.navbar_header ul li a {
position: relative;
margin: 0 15px;
text-decoration: none;
color: rgb(85, 83, 83);
letter-spacing: 2px;
font-weight: 300;
transition: 0.6s;
}

.navbar_header.sticky .logo,
.navbar_header.sticky ul li a
{
color: #000;
}

/* About */
.about {
    height: fit-content;
    position: relative;
}
.about_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_title h2 {
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

.about_title h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 6px;
    background: #000;
}

.about p {
    color: #000;
    font-weight: 400;
    text-align: justify;
    padding: 10px 0;
    font-size: var(--normal-font-size);
}

.about .about_contentBx {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.about .about_contentBx2 {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}

.about .about_contentBx .about_content {
    position: relative;
    padding: 50px;
}

.about .about_contentBx .about_content .about_imgBx{
    max-height: 400px;
}

.about .about_contentBx .about_content .about_imgBx img {
    max-height: 400px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* Accordion */
.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.accordion {
    display: grid;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
}

.accordion_container {
    display: grid;
    row-gap: 0.75rem;
    padding: 2rem 1rem;
    background-color: var(--container-color);
    border-radius: 0.5rem;
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
}

.accordion_title {
    font-size: var(--large-font-size);
    color: var(--title-color);
    font-weight: 400;
    margin-top: 0.15rem;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    text-align: center;
}

.accordion_header {
    display: flex;
    column-gap: 0.5rem;
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    cursor: pointer;
}

.accordion_description {
    padding: 0 1.25rem 1.25rem 3rem;
    font-size: var(--normal-font-size);
}

.accordion_icon {
    font-size: 1.5rem;
    height: max-content;
    color: var(--title-color);
    transition: 0.3s;
}

.accordion_item {
    box-shadow: 0 2px 6px hsla(0, 0%, 15%, 0.1);
    background-color: var(--container-color);
    border-radius: 0.25rem;
    position: relative;
    transition: all 0.25s ease;
}

.accordion_item::after {
    content: '';
    background-color: var(--first-color);
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.accordion_item:nth-child(1) {
    background-color: hsl(28, 100%, 97%);
}

.accordion_item:nth-child(1)::after {
    background-color: hsl(28, 100%, 77%);
}

.accordion_item:nth-child(2) {
    background-color: hsl(240, 100%, 97%);
}

.accordion_item:nth-child(2)::after {
    background-color: hsl(240, 100%, 77%);
}

.accordion_item:nth-child(3) {
    background-color: hsl(348, 100%, 97%);
}

.accordion_item:nth-child(3)::after {
    background-color: hsl(348, 100%, 77%);
}

.accordion_item:nth-child(4) {
    background-color: hsl(119, 35%, 97%);
}

.accordion_item:nth-child(4)::after {
    background-color: hsl(119, 35%, 77%);
}

.accordion_item:nth-child(5) {
    background-color: 	hsl(325, 45%, 97%);
}

.accordion_item:nth-child(5)::after {
    background-color: 	hsl(325, 45%, 77%);
}

.accordion_item:nth-child(6) {
    background-color: hsl(274, 36%, 97%);
}

.accordion_item:nth-child(6)::after {
    background-color: hsl(274, 36%, 77%);
}

.accordion_item:nth-child(7) {
    background-color: hsl(84, 100%, 97%);
}

.accordion_item:nth-child(7)::after {
    background-color: hsl(84, 100%, 67%);
}

.accordion_item:nth-child(8) {
    background-color: 	hsl(188, 46%, 93%)
}

.accordion_item:nth-child(8)::after {
    background-color: 	hsl(188, 46%, 73%);
}

.accordion_item:nth-child(9) {
    background-color: 	hsl(122, 92%, 97%);
}

.accordion_item:nth-child(9)::after {
    background-color: 	hsl(122, 92%, 77%);
}

.accordion_item:nth-child(10) {
    background-color: 	hsl(243, 48%, 96%);
}

.accordion_item:nth-child(10)::after {
    background-color: 	hsl(243, 48%, 76%);
}

.accordion_item:nth-child(11) {
    background-color: 	hsl(356, 69%, 93%);
}

.accordion_item:nth-child(11)::after {
    background-color: 	hsl(356, 69%, 73%);
}

.accordion_item:nth-child(12) {
    background-color: 	hsl(54, 91%, 95%);
}

.accordion_item:nth-child(12)::after {
    background-color: 	hsl(54, 91%, 75%);
}

.accordion_item:nth-child(13) {
    background-color: 		hsl(0, 0%, 92%);
}

.accordion_item:nth-child(13)::after {
    background-color: 		hsl(0, 0%, 78%);
}

.accordion_content {
    overflow: hidden;
    height: 0;
    transition: all 0.25s ease;
}

.accordion-open .accordion_icon {
    transform: rotate(45deg);
}

.accordion-open .accordion_title {
    font-weight: 600;
}

/* Media queries */
@media screen and (max-width: 992px) {
    .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    }

    .toggle:before {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
    }

    .toggle::after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    transition: 0.5s;
    }

    .navbar_header, .navbar_header.sticky {
    padding: 5px 50px;
    background: #fff;
    }
    
    .navbar_header ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    }
    
    .navbar_header.active ul  {
    visibility: visible;
    opacity: 1;
    display: block;
    }
    
    .navbar_header.active ul li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    padding-top: 20px;
    }
    
    .navbar_header .logo,
    .navbar_header ul li a {
    color: #000;
    }

    .banner {
    background-position: center;
    }

    .banner h2 {
    font-size: 60px;
    padding: 0 50px;
    }

    .sec {
    padding: 100px 50px 50px 50px;
    }

    .services .box {
    width: 100%;
    }

    .accordion_container {
        width: 900px;
        padding: 0.5rem;
        justify-self: center;
        border-radius: 0.75rem;
    }

    .accordion_header {
        padding: 1.5rem;
    }

    .accordion_title {
        padding-right: 3.5rem;
    }

    .accordion_description {
        padding: 0 4rem 1.25rem 3.5rem;
    }
}  